<launch>
        <arg name="path" value="$(find camera_states)/tests" />

        <include file="$(find flexbe_testing)/launch/flexbe_testing.launch">
                <arg name="compact_format" value="true" />
                <arg name="testcases" value="

                        $(arg path)/cam_detect_person.test
                        $(arg path)/cam_center_person.test
			$(arg path)/cam_size_person.test

                " />
        </include>
</launch>
